.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table-bordered {
  text-align: center;
  border: 1px solid black;
}
#float-container {
  padding: 20px;
}

#floatChild {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
#listDiv {
  float: top-left;
}

#extraInfoDiv {
  float: top-right;
}

#submitButton {
  width: 200px;
  height: 30px;
}

.extraInfo {
  margin: 30px;
}

h1 {
  color: darkred;
  font-size: 50px;
}
select {
  height: 30px;
  width: 200px;
  padding: 6px;
  margin-block-end: 8px;
}

table {
  text-align: center;
  margin-left: 40;
}
td {
  margin: 50;
  width: 59;
}
